html {
	box-sizing: border-box;
}
*, *:before, *after {
	box-sizing: inherit;
}
body {
	background: #e7e3d8;
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid Purple;
}
.content {
	overflow: auto;
	text-align: left;
	margin-bottom: 5%;
}
.title {
	margin-left: 2%;
	margin-top: 10%;
}
h1, h2, h3, h4, h5 {
	font-family: 'Homemade Apple', cursive;
	-webkit-font-smoothing: antialiased;
	color: #7F7F6E;	
}
hr {
	border: antiquewhite;
	border-top: 6px solid #eaebec;
	margin: 1.313rem 0;
}
/*Nav Bar*/
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
}
.top-navigation > .content {
	padding: 0px 75px;
	margin:  0 auto;
}
.top-navigation .links {
	float: right;
	color: #3E403E;
	font-size: 1.04rem;
	margin-top: 2rem;
}
.top-navigation .links li {
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-right: 2rem;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #FFC43C;
}
.top-navigation h1 {
	font-family: 'Homemade Apple', cursive;
	-webkit-font-smoothing: antialiased;
	text-align: left;
	margin-left: auto;
	font-size: 25px;
}
/*Introduction*/
.introduction h1, .introduction h2 {
	color: whitesmoke;
	font-weight: 500;
	max-width: 40rem;
}
.introduction h1 {
	margin-top: 12rem;
    font-size: 3.125rem;
    font-family: 'Homemade Apple', cursive;
    -webkit-font-smoothing: antialiased;
    text-align: right;
    margin-top: 25%;
    margin-left: 14%;
    margin-right: auto;
}
.introduction h2 {
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin-top: -4.35rem;
    margin-left: 27.25%;
    margin-right: auto;
    font-size: 2rem;
    text-align: center;

}
.introduction {
	background-image: url('../images/springfence.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 33rem;
	overflow: auto;  
}
/*projects*/
.projects > .content {
	padding: 0px 75px;
	margin:  0 auto;
}
.answer1 h3, .answer2 h3, .answer3 h3 {
	text-align: center;
}
.answer1, .answer2, .answer3 {
	width: 31.3%;
	float: left;
	margin: -1% auto;
}
.answer3 {
	margin-right: 0%;
	margin-left: 1%
}
.answer2 {
	margin-right: 0%;
	margin-left: 1%
}
.answer1 {
	margin-left: 2%;
}
.answer1, .answer2, .answer3 {
	text-align: left;
}
.answer1, .answer2, .answer3 figure img, {
	width: 300px;
	height: 280px;
}
figure {
	display: inline-block;
	height: 170px;
	margin: 0px;
	padding: 9px;
	text-align: left;
}
figure img {
	width: 300px;
	height: 200px;
}
figcaption {
	padding-left: 20px;
}


/*about me */
.about {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
}
.info {
  	margin: -1% 2%;
}
.info p {
	text-align: left;
}


/*Footer*/
.footer {
	background: #fff;
	width: 100%;
}
.footer > .content {
	padding: 0px 75px;
	margin:  0 auto;
}
.footer .links {
	text-align: center;
	color: #3E403E;
	font-size: 1rem;
	margin-top: -1rem;
}
.footer .links li {
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-right: 4rem;
}
.footer .links li:hover {
	cursor: pointer;
	color: #FFC43C;
}
.footer h1 {
	font-family: 'Homemade Apple', cursive;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin-left: auto;
	font-size: 20px;
}
