html {
	box-sizing: border-box;
}
*, *:before, *after {
	box-sizing: inherit;
}
body {
	background: LightGray;
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
}

div {
	border: 1px solid Purple;
}
.content {
	overflow: auto;
}

/*Nav Bar*/
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
}
.top-navigation > .content {
	padding: 0px 75px;
	margin:  0 auto;
}
.top-navigation .links {
	float: right;
	color: #3E403E;
	font-size: 1.04rem;
	margin-top: 2rem;
}
.top-navigation .links li {
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-right: 2rem;
}
.top-navigation .links li:hover {
	cursor: pointer;
	color: #FFC43C;
}
.top-navigation h1 {
	font-family: 'Homemade Apple', cursive;
	-webkit-font-smoothing: antialiased;
	text-align: left;
	margin-left: auto;
	font-size: 25px;
}
/*Introduction*/
.introduction h1, .introduction h2 {
	color: whitesmoke;
	font-weight: 500;
	max-width: 40rem;
}
.introduction h1 {
	margin-top: 12rem;
    font-size: 3.125rem;
    font-family: 'Homemade Apple', cursive;
    -webkit-font-smoothing: antialiased;
    text-align: right;
    margin-top: 35%;
    margin-left: 21%;
    margin-right: auto;
}
.introduction h2 {
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
	margin-top: -5rem;
    margin-left: 20%;
    margin-right: auto;
    font-size: 2rem;
    text-align: center;

}
.introduction {
	background-image: url('../images/springfence.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 33rem;
	overflow: auto;  
}
/*About Me Page*/
img {
 margin: 8% auto;
 right: 0px;
 width: 31.3%;
}
.questions {
	overflow: auto;  
}
.answer1, .answer2 {
	width: 31.3%;
	float: left;
	margin: 8% auto;
}
.answer2 {
	margin-right: 0%;
}
.answer1 {
	margin-left: 3%;
}
.answer1 h3, .answer2 h3 {
	font-family: 'Homemade Apple', cursive;
	-webkit-font-smoothing: antialiased;
}
/*projects*/
.projects {
	background-color: #fff;
	overflow: hidden;
	padding-bottom: 5rem;
}
.projects .content {
	padding: none;
	color: #1d1e21;
	text-align: center;
}
.projects h1 {
	margin-top: 1rem;
	font-size: 3.125rem;
	font-family: 'Homemade Apple', cursive;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin-left: 2rem;
}
/*Footer*/
.footer {
	background: #fff;
	width: 100%;
}
.footer > .content {
	padding: 0px 75px;
	margin:  0 auto;
}
.footer .links {
	text-align: center;
	color: #3E403E;
	font-size: 1rem;
	margin-top: -1rem;
}
.footer .links li {
	font-family: 'Hind Vadodara', sans-serif;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	margin-right: 4rem;
}
.footer .links li:hover {
	cursor: pointer;
	color: #FFC43C;
}
.footer h1 {
	font-family: 'Homemade Apple', cursive;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	margin-left: auto;
	font-size: 20px;
}
